.reference{
    background-color: honeydew;
    font-style: italic;
    margin: 10px;
    padding: 5px;
}

#content{
    font-size: medium;
    font-style: italic;
}
a:hover{
    color: white;
    font-weight: bold;
    font-style: italic;
}
ul{
    background-color: antiquewhite;
    margin: 10px;
    padding: 10px;
    font-size: medium;
}
table {
    border: 3px solid black;
    border-collapse: collapse;
    margin:10px;
    padding: 5px;
    height: 20%;
    width: 30%;
}



th {
    background-color: darkgray;
}

th, td {
    border: 1px solid black;
}

@media screen and (max-width: 600px) {
    body {
      background-color: bisque;
    }
}