.reference{
    background-color: cadetblue;
    margin: 10px;
    padding: 5px;
}
#content{
    background-color: dodgerblue;
    margin: 10px;
    padding: 5px;
}
a::hover{
    color: green;
    font-weight: bold;
}
ul{
    background-color: antiquewhite;
    margin: 10px;
    padding: 10px;
    font-size: medium;
}
table {
    border: 3px solid black;
    border-collapse: collapse;
    margin:10px;
    padding: 5px;
    height: 5%;
    width: 15%;
}

th {
    background-color: darkgray;
}

th, td {
    border: 1px solid black;
}